<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="RouteDebugger:Enabled" value="false"/>
    <!-- Timezone in which post published date has to be displayed -->
    <add key="Timezone" value="Kaliningrad Standard Time"/>
    <add key="TimezoneAbbr" value="KST"/>
    <add key="BlogTitle" value="Welcome to MyBlog!"/>
    <add key="AdminEmail" value="admin@myblog.com"/>
  </appSettings>

  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true" targetFramework="4.5"/>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
        <add namespace="MyBlog"/>
        <add namespace="MyBlog.Core"/>
      </namespaces>
    </pages>
    <!-- Admin Credentials -->
    <authentication mode="Forms">
      <forms loginUrl="~/Login" timeout="2880">
        <credentials passwordFormat="Clear">
          <user name="admin" password="myblog"/>
        </credentials>
      </forms>
    </authentication>
  </system.web>
  <!-- Email settings -->
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mailserver.net" userName="mybloguser" password="password" port="80"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- Database connection string -->
  <connectionStrings>
    <!--<add name="MyBlogDbConnString" connectionString="Data Source=ALEX-PC\HOMESERVER;Initial Catalog=JustBlog;Integrated Security=True" providerName="System.Data.SqlClient"/> -->
    <add name="MyBlogDbConnString" connectionString="Server=f7058775-2370-41d6-a3f9-a29801384b43.sqlserver.sequelizer.com;Database=dbf7058775237041d6a3f9a29801384b43;User ID=ocuftnittvtpyjor;Password=CKnK4hqueBbAr7GKW3YpHFudbkGxBSdToF77gm4AXBgsD2CWriXeFsg5pjHSG2Zu;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.4000" newVersion="2.1.2.4000"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="3a9cab8f8d22bfb7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.3.42154" newVersion="3.1.3.42154"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>