@{
  ViewBag.Title = "About Me";
}

<h1>About Me</h1>

<div id="content">
  <p class="photo">
    <img src="/Content/bulbasaur.jpg" />
  </p>
  <p>
    Hello, guys! My name is Alex and here i'll try to talk about some interesting subjects.
  </p>
</div>
